/* Booking */
	
.booking{
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
	
.booking-title {
	font-family: var(--montserrat);
	font-size: var(--bigfont);
}

.booking-description {
	
}

.booking form {
	width: 100%;
	display: flex;
	align-items: center; 
	justify-content: center;
	flex-direction: column;
	margin-top: 10px;	
}

.booking form button {
	margin-top: 20px;
}

.booking-flex {
	width: 100%;
	display: flex;
	align-items: flex-start; 
	justify-content: center;
	flex-direction: row;
}

.booking-each:first-child {
	width: calc(50% - 20px);
	padding-right: 20px;
}

.booking-each:last-child {
	width: calc(50% - 20px);
	padding-left: 20px;
}

.booking-form {
	width: 100%;
	display: flex;
	align-items: center; 
	justify-content: center;
	flex-direction: column;		
}

.booking-form-field{
	width: calc(100% - 22px);
	border: 0;
	border-bottom: 1px solid var(--graphite);
	transition: all 0.2s ease-in-out;
	padding: 10px;
	margin-bottom: 20px;
	font-size: var(--midfont);	
}

.booking-form-field:first-child {
	margin-top: 10px;
}

.booking-form-field:focus {
	outline: none;
	border-bottom: 1px solid var(--secundary);
	transition: all 0.2s ease-in-out;
}

.booking-form-field::placeholder{
	font-family: var(--montserrat);
}

.booking-each form input:focus::placeholder{
	color: var(--secundary);
	transition: all 0.2s ease-in-out;
}

.booking form textarea {
	border: 1px solid var(--graphite);
	width: calc(100% - 22px);
	height: 100px;
	transition: all 0.2s ease-in-out;
	padding: 10px;
	border-radius: 4px;
	font-size: var(--midfont);
	font-family: var(--montserrat);
}

.booking-each form textarea:focus::placeholder{
	color: var(--secundary);
	transition: all 0.2s ease-in-out;
}

.booking-each form textarea::placeholder{
	font-family: var(--montserrat);
}

.booking-each textarea:focus{
    outline: 1px solid var(--secundary);
	transition: all 0.2s ease-in-out;
}

.booking-form-button {
	color: var(--white);
	font-family: var(--raleway);
	padding: 20px 60px;
	background-color: var(--fourth);
	border-radius: 4px;
	border: 1px solid var(--primary);
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.booking-form-button:hover{
	color: var(--primary);
	background-color: var(--fifth);
	transition: all 0.2s ease-in-out;
}

.booking-form-button:active{
	background-color: var(--sixth);
	transition: all 0.2s ease-in-out;
}

.booking-radio {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
	gap:10px;
}

.booking-radio label {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: 25px;
	font-size: var(--smafont) !important;
	font-family: var(--raleway);
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.booking-radio label p {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 25px;
}

.booking-radio label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.booking-radio label span {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: var(--white);
	border-radius: 50%;
}

.booking-radio label:hover input ~ .checkmark {
	background-color: var(--white);
}

.booking-radio label input:checked ~ .checkmark {
	background-color: var(--fourth);
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.booking-radio label input:checked ~ .checkmark:after {
	display: block;
}

.booking-radio label .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--white);
}