@media only screen and (max-width: 1000px) {
	
.contact {
    width: 100%;
	flex-direction: column;
}

.contact-each {
    width: 100%;
	padding: 0;
	margin-bottom: 40px;
}

.contact-each:first-child {
    padding-right: 0px;
}

.contact-each:last-child {
    padding-left: 0px;
}
	
}

@media only screen and (max-width: 1000px) {
	
.contact-each-options {
	padding: 10px;
}
	
.contact-each-options a {
    font-size: var(--smafont);
}
	
}