/* 1080 Screen */

@media only screen and (max-width: 1370px) {
	
.contact {
    width: calc(100% - 80px);
	padding: 0 40px;
}
	
}


@media only screen and (max-width: 1000px) {
	
.contact {
    width: calc(100% - 40px);
	padding: 0 20px;
	flex-direction: column;
}

.contact-each {
    width: 100%;
	padding: 0;
	margin-bottom: 40px;
}

.contact-each:first-child {
    padding-right: 0px;
}

.contact-each:last-child {
    padding-left: 0px;
}
	
}