@media only screen and (max-width: 900px) {

.dashboard-content {
    flex-direction: column;
	margin-top: 20px;
	width: calc(100% - 40px);
}

.dashboard-profile {
    width: 100%;
}

.dashboard-requests {
    width: 100%;
	padding: 0;
	margin-top: 20px;
}

.dashboard-sort {
    padding-bottom: 10px;
}

.dashboard-filter-each {
    width: calc(25% - 40px);
    padding: 8px 20px;
}

}

@media only screen and (max-width: 500px) {
	
.dashboard-filter-each {
    width: fit-Content;
    padding: 8px 20px;
}

.dashboard-content {
    width: calc(100% - 20px);
    margin-top: 10px;
}

.dashboard-requests {
    margin-top: 10px;
}
	
}