/* Editor */

html,body {
	height: 100% !important;
	width: 100% !important;
}

button {
	box-sizing: border-box;
}

.editor-aligner {
	display: flex;
	flex-direction: row;
	height: 100%;
	position: relative;
}

.editor-menu {
	overflow: hidden;
	width: 300px;
	background-color: var(--secundary);
}

.editor-menu-scrollable{
	height: calc(100% - 150px);
	overflow-y: scroll;
}

.editor-menu-logo {
	width: calc(100% - 40px);
	height: 60px;
	padding: 10px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	background-color: var(--black);
}

.editor-menu-logo img {
	width: 100%;
	height: 40px;
}

.editor-menu-user {
	width: calc(100% - 40px);
	height: 50px;
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.editor-menu-user p {
	color: var(--white);
}

.editor-profile-avatar {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	margin-right: 20px;
	border: 1px solid transparent;
}

.editor-menu-section {
	width: calc(100% - 32px);
    padding: 0 16px;
}

.editor-menu-section p {
	font-size: var(--medfont);
	color: var(--white);
}

.editor-profile-avatar div {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.editor-menu-each {
	width: calc(100% - 32px);
	padding: 16px;
}

.editor-menu-each p {
	color: var(--white);
}

.fa-angle-up {
	color: var(--white);
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;	
}

.editor-menu-view{
	display: flex;
	flex-direction: row;
	gap: 8px;
	padding: 0px !important;
}

.editor-menu-view p {
	width: calc(50% - 8px);
	font-family: var(--montserrat);
}

.editor-menu-view p.active {
	color: var(--primary);
	background-color: var(--fifth);
}

.editor-menu-each-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: calc(100% - 16px);
	cursor: pointer;
	padding: 8px;
	border-radius: 4px;
	background-color: var(--black);
}

.editor-menu-each-content .editor-menu-each-button {
	background-color: var(--black2);
}

.editor-menu-each-active .fa-angle-up {
	transform: rotate(180deg);	
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.editor-menu-each-content {
	display: none;
	margin: 20px 0 0 0;
	overflow: hidden;
}

.editor-menu-each-value{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 62px;
	padding: 4px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid transparent;
}

.editor-menu-each-value:hover {
	border: 1px solid var(--white);
}

.editor-menu-each-value div {
	display: flex;
	flex-direction: column;
	padding-right: 10px;
	width: calc(100% - 76px);
}

.editor-menu-each-value div p {
	font-family: var(--montserrat);
}

.editor-menu-each-value img {
	width: 66px;
	height: 100%;
	border-radius: 4px;
}

.editor-menu-each-value div table {
	text-align: center;
	color: var(--grey);
	font-family: var(--montserrat);
    border-style: hidden;
    border-collapse: collapse;
}

.editor-menu-button {
	width: 100%;
    padding: 16px;
	text-align: center;
	box-sizing: border-box;
}

.editor-menu-button p {
	cursor: pointer;
	border: 1px solid var(--white);
	border-radius: 4px;
	padding: 4px;
	color: var(--white);
	background-color: var(--fourth);
}

.editor-menu-button button {
	font-size: var(--smafont);
	width: 100%;
	cursor: pointer;
	border: 1px solid var(--white);
	border-radius: 4px;
	padding: 4px;
	color: var(--white);
	background-color: var(--fourth);
}

.editor-menu-button p:hover, .editor-menu-button button:hover {
	color: var(--primary);
    background-color: var(--fifth);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.editor-menu-button p:active, .editor-menu-button button:active {
    background-color: var(--sixth);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.editor-menu-delete p {
	border: 1px solid red;
	color: var(--white);
	background-color: rgba(200,30,30,0.4);
}

.editor-menu-delete p:hover {
	color: var(--white);
	background-color: rgba(200,30,30,0.6);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.editor-menu-delete p:active {
	background-color: rgba(200,30,30,0.8);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

/* New Canvas Config */

.editor-menu-input {
	width: calc(100% - 32px);
    padding: 16px;
    text-align: center;
}

.editor-menu-input input {
	width: 100%;
    border: 1px solid var(--white);
    border-radius: 4px;
    padding: 4px;
	font-size: var(--smafont);
	box-sizing: border-box;
}

.editor-menu-input input:focus {
	outline: none;
    border-bottom: 1px solid var(--secundary);
    transition: all 0.2s ease-in-out;
}

/* Inventory */

.editor-inventory {
	background-color: var(--white);
	position: absolute;
	top: 0; left: 0;
	height: calc(100% - 160px);
	width: calc(100% - 160px);
	padding: 80px;
}

.editor-inventory-banner{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 40px;
}

.editor-inventory-banner svg {
	height: 50px;
    width: 50px;
    fill: var(--black);
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

.editor-inventory-banner a:hover svg {
	transform: rotate(90deg);
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

.editor-inventory-title {
	text-align: center;
	font-size: var(--bigfont);
}

.editor-inventory-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.editor-inventory-row {
	height: 400px;
	width: 33.3%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.editor-inventory-row .editor-inventory-row-content {
	height: 50%;
}

.editor-inventory-row:first-child .editor-inventory-row-content:first-child {
	height: 100%;
}

.editor-inventory-row-content {
	position: relative;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.editor-inventory-row-content img {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: auto;
	max-height: 200px;
}

.editor-inventory-row-content div {
	padding: 10px;
	width: calc(90% - 20px);
	height: calc(90% - 20px);
}

#inventory-furniture {background-color: #A52A2A;}
#inventory-decoration {background-color: #FFC82B;}
#inventory-lights {background-color: green;}
#inventory-plants {background-color: #2B9FFF;}
#inventory-others {background-color: #666666;}

.editor-inventory-row-content div p {
	color: var(--white);
	font-weight: bold;
	font-family: var(--montserrat);
}

.editor-inventory-row-content div p:first-child {
	font-size: var(--undfont);
}

/* Editor Browser */

.editor-inventory-browser {
	background-color: var(--white);
	position: absolute;
	top: 0; left: 0;
	height: calc(100% - 160px);
	width: calc(100% - 160px);
	padding: 80px;
}

.editor-inventory-browser-each {
	display: flex;
	flex-direction: row;
	height: calc(100% - 95px);
}

.editor-inventory-browser-filter {
	width: 30%;
}

.editor-inventory-browser-filter-title{
	font-size: var(--medfont);
	padding: 10px 0;
}

.editor-inventory-browser-filter-scroll {
	height: calc(100% - 40px);
	width: 100%;
    overflow-y: scroll;
}

.editor-inventory-browser-filter-each {
	margin-bottom: 10px;
}

.editor-inventory-browser-filter-each-title {
	font-size: var(--undfont);
	padding-bottom: 10px;
}

.editor-inventory-browser-results {
	width: calc(70% - 20px);
	margin-left: 20px;
}

.editor-inventory-browser-searchbar {
	border-radius: 4px;
	border: 1px solid var(--grey2);
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: var(--purewhite);
}

.editor-inventory-browser-searchbar .fa-magnifying-glass {
	font-size: var(--medfont);
    color: var(--grey2);
	padding-right: 10px;
}

.editor-inventory-browser-searchbar input {
	border: none;
	font-family: var(--opensans);
    font-size: var(--undfont);
}

.editor-inventory-browser-searchbar input:focus {
	outline: none;
}

/* Price Slider */

.filter-price {
	display: flex;
	flex-direction: column;
	width: calc(100% - 24px);
}

.filter-price input {
	border: none;
	outline: none;
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	width: 50%;
}

.filter-price input:focus {outline: none;}

.filter-price-range {
	margin: 0 10px;
	width: 100%;
}

#filter-price-range-input {
	border: none;
	background-color: transparent;
	font-family: var(--montserrat);
	font-size: var(--smafont);
	width: 100%;
	padding-top: 10px;
}

#filter-price-range-input:focus {outline: none;}

.ui-slider-horizontal .ui-slider-range { 
	background-color: var(--fourth);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-active, .ui-widget-content .ui-state-active, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus { 
	background: var(--white) !important;
	border: 1px solid var(--grey)!important;
	outline: none;
}

.ui-slider{border-radius: 50px !important;}

.ui-slider .ui-slider-handle {
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
	border-radius: 50%;
	height:20px !important;
	width:20px !important;
}

/* Manufacturer Filter */

.filter-manufacturer {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 6px;
}

.filter-manufacturer p {
	background-color: var(--purewhite);
	border-radius: 4px;
	padding: 6px;
	border: 1px solid var(--grey2);
	cursor: pointer;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.filter-manufacturer p:hover {
	color: var(--white);
	background-color: var(--fifth);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.filter-manufacturer-active {
	color: var(--white);
	background-color: var(--fourth) !important;
}

.filter-button p {
	cursor: pointer;
    border: 1px solid var(--grey);
    border-radius: 4px;
    padding: 4px;
    color: var(--white);
    background-color: var(--fourth);
	text-align: center;
}

.filter-button p:hover {
    color: var(--primary);
    background-color: var(--fifth);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.filter-button p:active {
    background-color: var(--sixth);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

/* Inventory List */

.editor-inventory-browser-results-scroll {
	height: calc(100% - 40px);
	width: calc(100% - 10px);
    overflow-y: scroll;
	margin-top: 10px;
}

.editor-inventory-browser-results-each {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: auto;
	margin-bottom: 6px;
	padding: 6px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid var(--fifth);
	background-color: var(--purewhite);
}

.editor-inventory-browser-results-each:hover {
	border: 1px solid var(--fourth);
}

.editor-inventory-browser-results-each div {
	display: flex;
	flex-direction: column;
	padding-right: 10px;
	width: calc(100% - 76px);
}

.editor-inventory-browser-results-each-name {
	font-family: var(--montserrat);
}

.editor-inventory-browser-results-each table {
	text-align: center;
	color: var(--grey);
	font-family: var(--montserrat);
    border-style: hidden;
    border-collapse: collapse;
	table-layout: auto;
	max-width: 120px;
}

.editor-inventory-browser-results-each table tr td {
	white-space:nowrap; 
}

.editor-inventory-browser-results-each img {
	width: 66px;
	height: 100%;
	border-radius: 4px;
}

/* Material List */

.editor-material {
	background-color: var(--white);
	position: absolute;
	top: 0; left: 0;
	height: calc(100% - 160px);
	width: calc(100% - 160px);
	padding: 80px;
}

.editor-material table {
	width: 100%;
	border-collapse: collapse;
}

.editor-material table tr:nth-child(odd) {
	background-color: var(--purewhite);
}

.editor-material table tr:nth-child(even) {
	background-color: var(--white);
}

.editor-material table tr:first-child {
	background-color: var(--black2);
	color: var(--white);
}

.editor-material table td {
	padding: 6px;
	font-family: var(--montserrat);
}

.editor-material table td img {
	width: 50px;
	height: 50px;
}

.editor-material table td svg {
	vertical-align: middle;
	horizontal-align: middle;
}

.editor-material-table-available{
	width: 25px;
}

.editor-material-table-image {
	width: 50px;	
}

.editor-material-table-quantity {
	width: 50px;
	text-align: center;
}

.editor-material-table-price {
	width: 50px;
	text-align: center;
}

.editor-material-table-site {
	width: 40px;
	text-align: center;
}

.editor-material-table-site span {
	cursor: pointer;
    border-radius: 4px;
    padding: 6px;
    background-color: var(--fourth);
	width: 100%;
	color: var(--white);
}

.editor-material-table-site span:hover {
    color: var(--primary);
    background-color: var(--fifth);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.editor-material-table-site span:active {
	background-color: var(--sixth);
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.editor-material-total {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	padding: 6px;
}

.editor-material-total p {
	font-size: var(--medfont);
	font-family: var(--montserrat);
}


.editor-material-total p:first-child {font-weight: bold;}

/* Settings */

.editor-menu-each-setting{
	display:flex;
	flex-direction: column;
}

.editor-menu-each-setting-option {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.editor-menu-each-setting-option div:nth-child(2) {
	display: none;
}

.language-dropdown-each {
	background-color: var(--grey);
}

.language{
	font-family: var(--montserrat);
    font-size: var(--undfont);
    color: var(--black);
}

.pure-material-switch {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--raleway);
    font-size: 16px;
    line-height: 1.5;
	margin-bottom: 10px;
}

.pure-material-switch > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    right: 6px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}

/* Span */
.pure-material-switch > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
	color: var(--white);
}

/* Track */
.pure-material-switch > span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 7px;
    width: 36px;
    height: 14px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}

/* Thumb */
.pure-material-switch > span::after {
    content: "";
    position: absolute;
    top: 2px;
    right: 16px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 0.2s, transform 0.2s;
}

/* Checked */
.pure-material-switch > input:checked {
    right: -10px;
    background-color: rgb(var(--pure-material-primary-rgb, 100, 151, 177));
}

.pure-material-switch > input:checked + span::before {
    background-color: rgba(var(--pure-material-primary-rgb, 100, 151, 177), 0.6);
}

.pure-material-switch > input:checked + span::after {
    background-color: rgb(var(--pure-material-primary-rgb, 100, 151, 177));
    transform: translateX(16px);
}

/* Hover, Focus */
.pure-material-switch:hover > input {
    opacity: 0.04;
}

.pure-material-switch > input:focus {
    opacity: 0.12;
}

.pure-material-switch:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-switch > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-switch > input:active + span::before {
    background-color: rgba(var(--pure-material-primary-rgb, 100, 151, 177), 0.6);
}

.pure-material-switch > input:checked:active + span::before {
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

/* Disabled */
.pure-material-switch > input:disabled {
    opacity: 0;
}

.pure-material-switch > input:disabled + span {
    color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
    opacity: 0.38;
    cursor: default;
}

.pure-material-switch > input:disabled + span::before {
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-switch > input:checked:disabled + span::before {
    background-color: rgba(var(--pure-material-primary-rgb, 100, 151, 177), 0.6);
}

/* Editor-Canvas */

.editor-canvas {
	width: calc(100% - 300px);
	position: relative;
	overflow-X: hidden;
	overflow-Y: scroll;
}

#floorplanner {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.editor-options {
	position: absolute;
	bottom: 50px;
	right: 50px;
	display: flex;
	flex-direction: column;
}

.editor-options > div {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 4px;
	padding-top: 4px;
}

#save {background-color: green;}

.editor-options div > div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--fourth);
	padding: 10px;
	border-radius: 4px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.editor-options div > div .fa-solid {
	color: var(--white);
}

.editor-options div > div:hover {
	background-color: var(--fifth) !important;
	color: var(--primary);
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;	
}

.editor-options div > div:active {
	background-color: var(--sixth) !important;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;	
}

/* Shortcuts */

.fa-plus,.fa-magnifying-glass,.fa-minus,.fa-upload,.fa-floppy-disk {
	font-size: var(--medfont);
	color: var(--white);
}

/* Canvas Popup */

.editor-canvas-popup {
	position: absolute;
	top: 5px;
	left: 0;
	width: 100%;
	z-index: 10;
	justify-content: center;
	align-items: center;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;	
}

.editor-canvas-popup p {
	text-align: center;
	border-left: 3px solid transparent;
	border-radius: 4px;
	padding: 12px 18px;
	width: fit-Content;
	color: var(--snowy);
	background-color: var(--black);
}

/* Display & Hide Canvas */

.editor-canvas-each{
	display: none;
	width: 100%;
	height: 100%;
}

.canvas-container {
	display: none;
}

.hidden {
	display: none;
}

.flex {
	display: flex;
}

.show {
	display: block;
}

.fadein {
	opacity: 0;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;	
}

.fadeon {
	opacity: 1;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;	
}


/**/

#floorplanner-controls {
	position: absolute;
	z-index: 9999;
	display: flex;
	background-color:RED;
	right: 0;
	top: 0;
}