/*
----------------------------------
Introduction Configuration
----------------------------------
*/

.introduction {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position:relative;
	height: 800px;
	padding-top: 60px;
}

.introduction-absolute {
	position: absolute;
	width: 80%;
	height: 300px;
}

.introduction-flex {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.introduction-category {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	height: 100%;
}

.introduction-category-each {
	padding: 10px;
}

.introduction-category-each p {
	text-align: left;
	font-family: var(--montserrat);
}

.introduction-category-each:first-child {
	background-color: var(--white);
}

.introduction-category-each:first-child p {
	color: var(--black);
}

/*
.introduction-category-each:not(:first-child) {
	background-color: var(--greyalpha);
}
*/

.introduction-category-each p {
	color: var(--white);
}

.introduction-category span {
	height: 1px;
	background-color: var(--white);
}

.introduction-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	width: 60%;
	padding-left: 40px;
}

#introduction-title {
	color:var(--white);
	font-size: var(--impfont);
	font-weight: bold;
	text-shadow: 0px 0px 8px var(--black);
}

#introduction-subtitle {
	color:var(--fourth);
	font-size: var(--medfont);
	font-weight: bold;
	text-shadow: 0px 0px 4px var(--black);
}

#introduction-description {
	font-size: var(--smafont);
	color:var(--white);
	margin-top: 40px;
	padding-left: 10px;
	border-left: 3px solid var(--white);
}

.introduction-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
	text-shadow: 0px 0px 10px var(--black);
}

.introduction-link a {
	font-weight: bold;
	color: var(--fourth);
}

.fa-arrow-right {
	color: var(--fourth);
	padding-left: 10px;
}

.fade {
	opacity: 0;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

/* Background Slideshow */

.background-crossfade {
	position: relative;
	width: 100%;
	height: 100%;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.backgroundimg {
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	animation: body 20s infinite;
}

#back1 {
	background: url('/images/image8.jpg');
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;
}

#back2 {
	background: url('/images/image1.jpg');
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;
}

#back3 {
	background: url('/images/image6.jpg');
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;
}

#back4 {
	background: url('/images/image7.jpg');
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;
}

#back5 {
	background: url('/images/image2.jpg');
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;
}

@keyframes body {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes body {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.background-crossfade div:nth-of-type(1) {
	animation-delay: 16s;
	-webkit-animation-delay: 16s;
}

.background-crossfade div:nth-of-type(2) {
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}

.background-crossfade div:nth-of-type(3) {
	animation-delay: 8s;
	-webkit-animation-delay: 8s;
}

.background-crossfade div:nth-of-type(4) {
	animation-delay: 4s;
	-webkit-animation-delay: 4s;
}

.background-crossfade div:nth-of-type(5) {
	animation-delay: 0s;
	-webkit-animation-delay: 0s;
}

/*
----------------------------------
Banner Configuration
----------------------------------
*/

.banner {
	position:relative;
	width: 100%;
	height: auto;
	background-color:var(--tertiary);
	padding: 10px 0 10px 0;
}

.banner p {
	color: var(--white);
	text-align: center;
	font-size: var(--bigfont);
}

.triangle {
	display: flex; 
	align-items: center;
	justify-content: center;
}

.triangle svg{
	position: absolute;
	top: 0;
	transform: rotate(180deg);
}

/* Services */

.services {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: left;
	justify-content: left;
}

.services-each {
	padding: 20px;
}

.services-each img {
	width: 100%;
}

.services-each-border {
	width: calc(25% - 6px);
	margin-top: -2px;
}

.services-each-border:nth-child(odd){
	border-top: 3px solid var(--secundary);
	border-right: 3px solid var(--secundary);
}

.services-each-border:nth-child(even){
	border-bottom: 3px solid var(--secundary);
	border-right: 3px solid var(--secundary);
}

.service-each-title {
	font-size: var(--medfont);
	font-family: var(--opensans);
	font-weight: bold;
}

.service-each-subtitle {
	font-size: var(--smafont);
}

.service-each-description {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: var(--smafont);
}

/* Workflow */

.workflow {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: left;
	justify-content: left;
	width: 100%;
}

.workflow-each {
	width: 33%;
}

.workflow-box {
	padding: 20px;
}

.workflow-title {
	font-size: var(--medfont);
	font-family: var(--opensans);
	font-weight: bold;	
}

.workflow-description {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: var(--smafont);	
}

.workflow-box img {
	width: 100%;
}

.workflow-box a {
	color: var(--primary);
	text-decoration: underline;
}
						
.workflow-timeline {
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.workflow-timeline span {
	height: 1px;
	width: calc(100% - 30px);
	background-color: var(--secundary);
}

.workflow-timeline p {
	font-family: var(--opensans);
	color: var(--white);
	text-align: center;
	background-color: var(--secundary);
	border-radius: 10px;
}

.workflow-timeline-step{
	width: 60px;
}

/* Specifications */

.specifications {
	width: 100%;
	background-color: var(--fourth);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;	
}

.specifications-each {
	width: calc(25% - 20px);
	padding: 40px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.specifications-each-number {
	color: var(--white);
    font-size: var(--bigfont);
	font-weight: bold;
	font-family: var(--montserrat);
}

.specifications-each-title {
	color: var(--fifth);
    font-size: var(--midfont);
}

/* Pricing */

.pricing {
	padding-top: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: left;
	justify-content: left;
	width: 100%;
}

.pricing-each {
	width: calc(25% - 7.5px);
	background-color:var(--snowy);
	box-shadow: 0px 4px 4px 0px var(--shadowlow);
	margin-right: 10px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
} 

.pricing-each:last-child {
	margin-right: 0 !important; 
}

.pricing-title {
	text-align: center;
	font-size: var(--medfont);
	font-family: var(--opensans);
	font-weight: bold;
	color: var(--white);
	background-color: var(--tertiary);
	padding: 10px 0;
}

.pricing-options {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: left;
	align-content: flex-start;
	height: 100%;
	padding: 0 10px 10px 10px;
}

.pricing-options p {
	background-color: var(--white);
	box-shadow: 0px 0px 4px 0px var(--shadowlow);
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 2px 16px;
	border-radius: 4px;
}
		
.pricing-description {
	padding: 10px;
}

.pricing-comparator-each {
	width: calc(100% - 20px);
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: left;
	justify-content: space-between;
}

.pricing-comparator-each:nth-child(odd) {
	background-color: var(--white);
}

.pricing-comparator-each:nth-child(even) {
	background-color: var(--snowy);
}

.pricing-tag {
	margin: 10px;
	width: calc(100% - 22px);
	margin-top: 10px;
	background-color: var(--white);
	border: 1px solid var(--black);
	border-radius: 4px;
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

.pricing-tag a {
	width: 100%;
	height: 100%;
	color: var(--black);
}

.pricing-tag p {
	font-size: var(--medfont);
	font-family: var(--montserrat);
	font-weight: bold;
	text-align: center;
	padding: 6px 0;
}

.pricing-tag:hover {
	background-color: var(--fourth);
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

.pricing-tag:active {
	background-color: var(--fifth);
	transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
}

.fa-check{
	color: green;
}

.fa-xmark{
	color: red;
}

.fa-info{
	color: var(--tertiary);
}

/* Faq */

.faq {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	padding-top: 20px;
}

.faq-each {
	width: 100%;
	background-color:var(--sixth);
}

.faq-button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	width: calc(100% - 40px);
	padding: 20px;
	cursor: pointer;
}

.fa-angle-up{
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;	
}

.faq-active .fa-angle-up {
	transform: rotate(180deg);	
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
}

.faq-button p {
	color: var(--black);
	font-size: var(--midfont);
	font-weight: bold;
}

.faq-each-content {
	display: none;
	padding: 20px;
	overflow: hidden;
	background-color: var(--snowy);
}
