<!DOCTYPE HTML>
<html lang="en-US">
	<link rel="icon" href="/logo/logo3.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="global.css">
	<link rel="stylesheet" type="text/css" href="editor.css">
	<link rel="stylesheet" type="text/css" href="global-responsive.css">
	<link rel="stylesheet" type="text/css" href="editor-responsive.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<head>
	<title>Reflow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script src="https://kit.fontawesome.com/6308dbf55d.js" crossorigin="anonymous"></script>
	<script src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.2.0/quicklink.umd.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.js"></script>
	<script type="text/javascript" src="global-javascript.js"></script>
	<script type="text/javascript" src="global-language.js"></script>
	<script type="text/javascript" src="editor-language.js"></script>
	<script type="text/javascript" src="editor-javascript.js"></script>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">	
</head>

<body>

<div class="editor-aligner">
	<div class="editor-menu">
		<div class="editor-menu-logo">
			<a href="javascript:void(0);" onclick="menudropper()"/>
				<svg version="1.1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g data-name="1" id="_1"><path d="M441.13,166.52h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z"/><path d="M441.13,279.72h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z"/><path d="M441.13,392.92h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z"/></g></svg>
			</a>
			<a href="/">
				<img data-lazy="/logo/logo.png" id="my-image">
			</a>
		</div>
		<div class="editor-menu-user">
			<div class="editor-profile-avatar" id="editor-profile-avatar"></div>
			<div>
				<p><%= user_data[Object.keys(user_data)[1]] %></p>
				<p><%= user_data[Object.keys(user_data)[2]] %></p>
			</div>
		</div>
		<div class="editor-menu-each">
			<a href="/">Option 1</a>
		</div>
		<div class="editor-menu-each">
			<a href="/">Option 2</a>
		</div>
		<div class="editor-menu-each">
			<a href="/">Option 3</a>
		</div>
		<div class="editor-menu-each">
			<a href="/">Option 4</a>
		</div>
	</div>
	<div class="editor-canvas">
		<canvas id="canvas" width="400" height="300"></canvas>
	</div>
</div>

<script>

// Set Avatar
let id_users = <%= user_data[Object.keys(user_data)[0]] %>
document.getElementById("editor-profile-avatar").style.backgroundImage = "url('/user/" + id_users + ".jpg')";

</script>

</body>

</html>