<!DOCTYPE HTML>
<html lang="en-US">
	<link rel="icon" href="./files/logo/logo3.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="global.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="responsive.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<head>
	<title>Reflow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script src="https://kit.fontawesome.com/6308dbf55d.js" crossorigin="anonymous"></script>
	<script src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.2.0/quicklink.umd.js"></script>
	<script type="text/javascript" src="javascript.js"></script>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">	
</head>

<body>

<button onclick="topFunction()" id="toTop" class="top"><i class="fa fa-arrow-up"></i></button>

<div class="menu-background" id="menu-background">

	<div class="menu">
		<div class="menu-logo">
			<img src="/logo/logo.png">
		</div>

		<div class="menu-nav">
			<div class="menu-nav-hover">
				<a href="#">
					<p>Home</p>
				</a>
			</div>
			<span class="menu-nav-google active">&nbsp;</span>
		</div>
		<div class="menu-nav dropdown-trigger-menu">
			<div class="menu-nav-hover">
				<a href="#">
					<p>Projects</p>
				</a>
			</div>
			<span class="menu-nav-google">&nbsp;</span>
		</div>
		<div class="menu-nav">
			<div class="menu-nav-hover">
				<a href="#">
					<p>Showcase</p>
				</a>
			</div>
			<span class="menu-nav-google">&nbsp;</span>
		</div>
		<div class="menu-nav">
			<div class="menu-nav-hover">
				<a href="#">
					<p>Contact</p>
				</a>
			</div>
			<span class="menu-nav-google">&nbsp;</span>
		</div>
		<div class="menu-nav">
			<div class="menu-nav-button">
				<a href="#">
					<p>Reserva</p>
				</a>
			</div>
		</div>
		<div class="menu-options">
			<div class="menu-options-each option-language">
				<a href="#">
					<img src="/icons/language.png">
				</a>
				<div class="language-dropdown">
					<div class="language-dropdown-each language-active">
						<a href="#">Español</a>
					</div>
					<div class="language-dropdown-each">
						<a href="#">Català</a>
					</div>
					<div class="language-dropdown-each">
						<a href="#">English</a>
					</div>
				</div>
			</div>
			<div class="menu-options-each">
				<a href="/login">
					<img src="/icons/account.png">
				</a>
			</div>
		</div>
		<div class="menu-responsive">
			<div class="menu-bars" id="menu-bars">
				<a href="javascript:void(0);" onclick="menudropper()"/>
					<svg version="1.1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g data-name="1" id="_1"><path d="M441.13,166.52h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z"/><path d="M441.13,279.72h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z"/><path d="M441.13,392.92h-372a15,15,0,1,1,0-30h372a15,15,0,0,1,0,30Z"/></g></svg>
				</a>
			</div>
			<div class="menu-cross" id="menu-cross">
				<a href="javascript:void(0);" onclick="menudropper()"/>
					<svg version="1.1" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g class="st2" id="cross"><g class="st0"><line class="st1" x1="112.5" x2="401" y1="112.5" y2="401"/><line class="st1" x1="401" x2="112.5" y1="112.5" y2="401"/></g></g><g id="cross_copy"><path d="M268.064,256.75l138.593-138.593c3.124-3.124,3.124-8.189,0-11.313c-3.125-3.124-8.189-3.124-11.314,0L256.75,245.436   L118.157,106.843c-3.124-3.124-8.189-3.124-11.313,0c-3.125,3.124-3.125,8.189,0,11.313L245.436,256.75L106.843,395.343   c-3.125,3.125-3.125,8.189,0,11.314c1.562,1.562,3.609,2.343,5.657,2.343s4.095-0.781,5.657-2.343L256.75,268.064l138.593,138.593   c1.563,1.562,3.609,2.343,5.657,2.343s4.095-0.781,5.657-2.343c3.124-3.125,3.124-8.189,0-11.314L268.064,256.75z"/></g></svg>
				</a>
			</div>
			<div class="menu-dropmenu" id="menu-dropmenu">
				<div class="menu-dropmenu-each">
					<span class="menu-dropmenu-google active">&nbsp;</span>
					<div class="menu-dropmenu-hover">
						<a href="#">
							<p>Home</p>
						</a>
					</div>
				</div>
				<div class="menu-dropmenu-each">
					<span class="menu-dropmenu-google">&nbsp;</span>
					<div class="menu-dropmenu-hover">
						<a href="#">
							<p>Projects</p>
						</a>
					</div>
				</div>
				<div class="menu-dropmenu-each">
					<span class="menu-dropmenu-google">&nbsp;</span>
					<div class="menu-dropmenu-hover">
						<a href="#">
							<p>Showcase</p>
						</a>
					</div>
				</div>
				<div class="menu-dropmenu-each">
					<span class="menu-dropmenu-google">&nbsp;</span>
					<div class="menu-dropmenu-hover">
						<a href="#">
							<p>Contact</p>
						</a>
					</div>
				</div>
				<div class="menu-dropmenu-each">
					<div class="menu-dropmenu-button">
						<a href="#">
							<p>Reserva</p>
						</a>
					</div>
				</div>
				<div class="menu-dropmenu-options">
					<div class="menu-options-each option-language">
						<a href="#">
							<img src="/icons/language.png">
						</a>
						<div class="language-dropdown">
							<div class="language-dropdown-each language-active">
								<a href="#">Español</a>
							</div>
							<div class="language-dropdown-each">
								<a href="#">Català</a>
							</div>
							<div class="language-dropdown-each">
								<a href="#">English</a>
							</div>
						</div>
					</div>
					<div class="menu-options-each">
						<a href="#">
							<img src="/icons/account.png">
						</a>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>

<div class="dropdown-content dropdown-trigger-content dropdown-content-inactive">
	<div class="responsive-aligner dropdown-content-default dropdown-opacity-false" style="height: 100%">
		<div class="submenu">
			<div class="submenu-category">
				<p class="submenu-title">Latest Work</p>
				<div class="submenu-latest-each">
					<img src="/images/image1.jpg">
					<div class="submenu-latest-text">
						<p class="submenu-latest-title">Asian House or</p>
						<p class="submenu-latest-subtitle">something long text to make up for lazyness my bsomething longsomething longsomething long something longsomething longsomething longad</p>
					</div>
				</div>
				<div class="submenu-latest-each">
					<img src="/images/image1.jpg">
					<div class="submenu-latest-text">
						<p class="submenu-latest-title">Asian House or</p>
						<p class="submenu-latest-subtitle">something long text to make up for lazyness my bad</p>
					</div>
				</div>
				<div class="submenu-latest-each">
					<img src="/images/image1.jpg">
					<div class="submenu-latest-text">
						<p class="submenu-latest-title">Asian House or</p>
						<p class="submenu-latest-subtitle">something long text to make up for lazyness my bad</p>
					</div>
				</div>
			</div>
			<span>&nbsp;</span>
			<div class="submenu-category">
				<p class="submenu-title">Old Work</p>
				<div class="submenu-latest-each">
					<img src="/images/image1.jpg">
					<div class="submenu-latest-text">
						<p class="submenu-latest-title">Asian House or</p>
						<p class="submenu-latest-subtitle">something long text to make up for lazyness my bad</p>
					</div>
				</div>
				<div class="submenu-latest-each">
					<img src="/images/image1.jpg">
					<div class="submenu-latest-text">
						<p class="submenu-latest-title">Asian House or</p>
						<p class="submenu-latest-subtitle">something long text to make up for lazyness my bad</p>
					</div>
				</div>
				<div class="submenu-latest-each">
					<img src="/images/image1.jpg">
					<div class="submenu-latest-text">
						<p class="submenu-latest-title">Asian House or</p>
						<p class="submenu-latest-subtitle">something long text to make up for lazyness my bad</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="introduction" id="menu-trigger">

	<div class="background-crossfade">
		<div class="backgroundimg" id="back5"></div>
		<div class="backgroundimg" id="back4"></div>
		<div class="backgroundimg" id="back3"></div>
		<div class="backgroundimg" id="back2"></div>
		<div class="backgroundimg" id="back1"></div>
	</div>
	
	<div class="introduction-absolute">
		<div class="introduction-flex">
			<div class="introduction-category">
				<div class="introduction-category-each">
					<p>Demandas Populares</p>
				</div>
				<div class="introduction-category-each">
					<p>Diseño de Interior</p>
				</div>
				<span>&nbsp;</span>
				<div class="introduction-category-each">
					<p>Visualización de Materiales</p>
				</div>
				<span>&nbsp;</span>
				<div class="introduction-category-each">
					<p>Decoración y Amueblado</p>
				</div>
				<span>&nbsp;</span>
				<div class="introduction-category-each">
					<p>Renderización 3D</p>
				</div>
				<span>&nbsp;</span>
				<div class="introduction-category-each">
					<p>Capas, Enlazes y Compra</p>
				</div>
			</div>
			<div class="introduction-text">
				<p id="introduction-subtitle" class=""></p>
				<p id="introduction-title" class=""></p>
				<p id="introduction-description" class=""></p>
				<div class="introduction-link">
					<a id="introduction-link" href="#">View More Info</a>
					<i class="fas fa-arrow-right"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="banner">
	<p>Reforma a tu estilo!</p>
		<div class="triangle">
	  <svg width='100' height='100'>
		<path fill="var(--tertiary)" d="M 50,5 95,47.5 5,47.5 z"/>
	  </svg>
	</div>
</div>

<div class="content">
	<div class="responsive-aligner">
		<div class="content-last">
			<p class="content-title">Servicios</p>
			<p class="content-subtitle">Todo lo que ofrecemos</p>
			<div class="services">
				<div class="services-each-border">
					<div class="services-each">
						<p class="service-each-title">Diseño de Interior</p>
						<p class="service-each-subtitle">Salón, Cocina, Comedor, Patio etc</p>
						<p class="service-each-description">Archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
						cuando un impresor (N. del T. persona que se dedica a la 00 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedand</p>
						<img src="/images/image8.jpg">
					</div>
				</div>
				<div class="services-each-border">
					<div class="services-each">
						<p class="service-each-title">Visualización de Materiales</p>
						<p class="service-each-subtitle">Madera, Cemento, Hormigón pulido, Piedra Natural, Colores etc</p>
						<p class="service-each-description">Archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
						cuando un impresor (N. del T. persona que se dedica aió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedand</p>
						<img src="/images/image8.jpg">
					</div>
				</div>
				<div class="services-each-border">
					<div class="services-each">
						<p class="service-each-title">Decoración y Amueblado</p>
						<p class="service-each-subtitle">Visualiza tu Salón con todo tipo de muebles o decoraciones</p>
						<p class="service-each-description">Archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
						cuando un impresor (N. del T. persona que se dedica a laó 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedand</p>
						<img src="/images/image8.jpg">
					</div>
				</div>
				<div class="services-each-border">
					<div class="services-each">
						<p class="service-each-title">Renderización 3D</p>
						<p class="service-each-subtitle">Descarga un modelo 3D de tu casa o piso</p>
						<p class="service-each-description">Archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
						cuando un impresor (N. del T. persona que se dedica a ivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedand</p>
						<img src="/images/image8.jpg">
					</div>
				</div>
				<div class="services-each-border">
					<div class="services-each">
						<p class="service-each-title">Capas, Enlazes y Compra</p>
						<p class="service-each-subtitle">Encuentra donde comprar dichos materiales, decoraciones y muebles</p>
						<p class="service-each-description">Archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, 
						cuando un impresor (N. del T. persona que se dedica ó 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedand</p>
						<img src="/images/image8.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="responsive-aligner">
		<div class="content-last">
			<p class="content-title">¿Como Funciona?</p>
			<p class="content-subtitle">Es simple, te lo explicamos</p>
			<div class="workflow">
				<div class="workflow-each">
					<div class="workflow-timeline">
						<p class="workflow-timeline-step">1</p>
						<span>&nbsp;</span>
					</div>
					<div class="workflow-box">
						<p class="workflow-title">Organización</p>
						<p class="workflow-description">Contactamos y mesuramos toda la planta para obtener tamaños (anchura, altura y profundidad),
						de esta manera nuestro equipo tendra todo lo necesario para empezar el proyecto en 3D</p>
						<img src="/images/image8.jpg">
					</div>	
				</div>
				<div class="workflow-each">
					<div class="workflow-timeline">
						<p class="workflow-timeline-step">2</p>
						<span>&nbsp;</span>
					</div>
					<div class="workflow-box">
						<p class="workflow-title">Planeamiento</p>
						<p class="workflow-description">Una vez tengamos todo lo necesario, empezaremos el diseño, si tienes alguna preferencia con los materiales,
						marcas o con los colores nos ocuparemos de ajustarnos a tu gusto</p>
						<img src="/images/image8.jpg">
					</div>	
				</div>
				<div class="workflow-each">
					<div class="workflow-timeline">
						<p class="workflow-timeline-step">3</p>
						<span>&nbsp;</span>
					</div>
					<div class="workflow-box">
						<p class="workflow-title">Seguimiento</p>
						<p class="workflow-description">En todo momento nos podrás preguntar según el progreso, te crearemos un <a href="#">perfil</a> por 
						donde podrás ver dichos progresos y el projecto final</p>
						<img src="/images/image8.jpg">
					</div>	
				</div>
				<div class="workflow-each">
					<div class="workflow-timeline">
						<p class="workflow-timeline-step">4</p>
						<span>&nbsp;</span>
					</div>
					<div class="workflow-box">
						<p class="workflow-title">Entrega</p>
						<p class="workflow-description">Una vez te entregemos el proyecto finalizado, podrás verlo desde tu <a href="#">perfil</a>, desde 
						ahí podrás interactuar con nuestro menu de opciones donde podrás ver el acabado de cada habitación con nuestra sección de materiales
						 y colores<br>Tendrás 2 semanas para confirmar de que todo esta a tu satisfación</p>
						<img src="/images/image8.jpg">
					</div>	
				</div>
				<div class="workflow-each">
					<div class="workflow-timeline">
						<p class="workflow-timeline-step">5</p>
						<span>&nbsp;</span>
					</div>
					<div class="workflow-box">
						<p class="workflow-title">Elección</p>
						<p class="workflow-description">Una vez decidido/a podrás ver donde encontrar dichos materiales, muebles y demás en la misma página con una 
						comparativa de precios</p>
						<img src="/images/image8.jpg">
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="responsive-aligner">
		<div class="content-last">
			<p class="content-title">Tabla de Precios</p>
			<p class="content-subtitle">Comparativa de ventajas</p>
			<div class="pricing">
				<div class="pricing-each pricing-small">
					<div>
						<p class="pricing-title">Visión General</p>
						<p class="pricing-description">Diseño Completo, Acceso a toda nuestra plataforma, Cualidad y Detalles Normales</p>
					</div>
					<div class="pricing-options">
						<p>Piso</p>
						<p>Casa</p>
					</div>
					<div class="pricing-comparator">
						<div class="pricing-comparator-each">
							<p>Resolución 1080p</p>
							<i class="fas fa-check"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Resolución 4K</p>
							<i class="fas fa-xmark"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Vista 360 Grados</p>
							<i class="fas fa-xmark"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Hasta 2 Plantas</p>
							<i class="fa-solid fa-info"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Tiempo de Entrega ~1 Semana</p>
							<i class="fa-solid fa-info"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Formato de entrega webp, jpg y png</p>
							<i class="fa-solid fa-info"></i>
						</div>
					</div>
					<div class="pricing-tag">
						<a href="#">
							<p>55$</p>
						</a>
					</div>
				</div>
				<div class="pricing-each pricing-medium">
					<div>
						<p class="pricing-title">Prespectiva 360</p>
						<p class="pricing-description">Eres más fan de los videos? Esta opción es para ti. Con esta tendrás una vista en panorama de 360 Grados, además de una Cualidad y Detalles Superiores</p>
					</div>
					<div class="pricing-options">
						<p>Piso</p>
						<p>Casa</p>
						<p>Establecimiento</p>
					</div>
					<div class="pricing-comparator">
						<div class="pricing-comparator-each">
							<p>Resolución 1080p</p>
							<i class="fas fa-check"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Resolución 4K</p>
							<i class="fas fa-xmark"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Vista 360 Grados</p>
							<i class="fas fa-check"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Hasta 4 Plantas</p>
							<i class="fa-solid fa-info"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Tiempo de Entrega ~5 Días</p>
							<i class="fa-solid fa-info"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Formato mp4, avi, mov, mkv, webp, jpg y png</p>
							<i class="fa-solid fa-info"></i>
						</div>
					</div>
					<div class="pricing-tag">
						<a href="#">
							<p>75$</p>
						</a>
					</div>
				</div>
				<div class="pricing-each pricing-high">
					<div>
						<p class="pricing-title">Máximo Detalle</p>
						<p class="pricing-description">Detalle a la perfección, para los exigentes que necesitan un lugar de ensueño</p>
					</div>
					<div class="pricing-options">
						<p>Piso</p>
						<p>Casa</p>
						<p>Instalaciones</p>
						<p>Establecimiento</p>
						<p>Almacenes</p>
					</div>
					<div class="pricing-comparator">
						<div class="pricing-comparator-each">
							<p>Resolución 1080p</p>
							<i class="fas fa-check"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Resolución 4K</p>
							<i class="fas fa-check"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Vista 360 Grados</p>
							<i class="fas fa-check"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Hasta 6 Plantas</p>
							<i class="fa-solid fa-info"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Tiempo de Entrega ~5 Días</p>
							<i class="fa-solid fa-info"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Formato mp4, avi, mov, mkv, webp, jpg y png</p>
							<i class="fa-solid fa-info"></i>
						</div>
					</div>
					<div class="pricing-tag">
						<a href="#">
							<p>160$</p>
						</a>
					</div>
				</div>
				<div class="pricing-each pricing-custom">
					<div>
						<p class="pricing-title">A Gran Escala</p>
						<p class="pricing-description">Tienes un proyecto a gran escala? Contáctanos para poder organizarnos</p>
					</div>
					<div class="pricing-options">
						<p>Piso</p>
						<p>Casa</p>
						<p>Edificio</p>
						<p>Instalaciones</p>
						<p>Establecimiento</p>
						<p>Almacenes</p>
					</div>
					<div class="pricing-comparator">
						<div class="pricing-comparator-each">
							<p>Resolución 1080p</p>
							<i class="fas fa-check"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Resolución 4K</p>
							<i class="fas fa-check"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Vista 360 Grados</p>
							<i class="fas fa-check"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Plantas Ilimitadas</p>
							<i class="fa-solid fa-info"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Tiempo de Entrega Relativo</p>
							<i class="fa-solid fa-info"></i>
						</div>
						<div class="pricing-comparator-each">
							<p>Formato mp4, avi, mov, mkv, webp, jpg y png</p>
							<i class="fa-solid fa-info"></i>
						</div>
					</div>
					<div class="pricing-tag">
						<a href="#">
							<p>Preguntar</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="responsive-aligner">
		<div class="content-last">
			<p class="content-title">FAQ</p>
			<p class="content-subtitle">Preguntas más frequentes</p>
			<div class="faq">
				<div class="faq-each">
					<div class="faq-button">
						<p>¿A qué y quién está orientado este servicio?</p>
						<i class="fa-solid fa-angle-up"></i>
					</div>
					<div class="faq-each-content">
						<p>Construir un edificio nuevo vale mucho dinero y en muchas veces siempre sale más rentable reformar el edificio. Aquí es donde entramos nosotros, 
						siempre sale el problema de no saber como reformarlo, que materiales usar, los colores, medidas para saber si los muebles que ya tienes cabrán en las 
						habitaciones, decoraciones. Además podrás ver la cantidad de luz que entraría en cada habitación.
						</p>
					</div>
				</div>
				<div class="faq-each">
					<div class="faq-button">
						<p>¿Porqué nosotros?</p>
						<i class="fa-solid fa-angle-up"></i>
					</div>
					<div class="faq-each-content">
						<p>Tenemos mucha experiencia en el mundo del diseño interior, además contamos con reformadores professionales
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="footer-aligner">
		<div class="footer-logo">
			<img src="/logo/logo.png">
			<div class="footer-catchphrase">
				<p>Brand New Kicks</p>
			</div>
			<div class="footer-social">
				<a href="#">
					<img src="/icons/phone.png">
				</a>
				<span>&nbsp;</span>
				<a href="#">
					<img src="/icons/mail.png">
				</a>
				<span>&nbsp;</span>
				<a href="#">
					<img src="/icons/youtube.png">
				</a>
				<span>&nbsp;</span>
				<a href="#">
					<img src="/icons/linkedin.png">
				</a>
			</div>
		</div>
		
		<div class="footer-each">
			<p>Empresa</p>
			<a>Sobre Nosotros</a>
			<a>Trabajo</a>
		</div>
		
		<div class="footer-each">
			<p>Legal</p>
			<a>Privacidad</a>
			<a>Seguridad</a>
			<a>Términos y Condiciones</a>
		</div>
	</div>
</div>

<div class="author">
	<a href="https://tovape.github.io">Website made by Toni Valverde</a>
</div>

</body>

</html>