<!DOCTYPE HTML>
<html lang="en-US">
	<link rel="icon" href="/logo/logo3.png" type="image/gif" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="global.css">
	<link rel="stylesheet" type="text/css" href="editor.css">
	<link rel="stylesheet" type="text/css" href="new.css">
	<link rel="stylesheet" type="text/css" href="global-responsive.css">
	<link rel="stylesheet" type="text/css" href="editor-responsive.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<head>
	<title>Reflow</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<script src="https://kit.fontawesome.com/6308dbf55d.js" crossorigin="anonymous"></script>
	<script src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js" defer></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.2.0/quicklink.umd.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.js"></script>
	<script type="text/javascript" src="global-javascript.js"></script>
	<script type="text/javascript" src="global-language.js"></script>
	<script type="text/javascript" src="new-language.js"></script>
	<script type="text/javascript" src="new-javascript.js"></script>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">	
</head>

<body>

<div class="editor-aligner">
	<div class="editor-menu">
		<div class="editor-menu-logo">
			<a href="/">
				<img data-lazy="/logo/logo.png">
			</a>
		</div>
		<div class="editor-menu-user">
			<div class="editor-profile-avatar" id="editor-profile-avatar"></div>
			<div>
				<p id="user" style="display: none"><%= user_data[Object.keys(user_data)[0]] %></p>
				<p><%= user_data[Object.keys(user_data)[1]] %></p>
				<p><%= user_data[Object.keys(user_data)[2]] %></p>
			</div>
		</div>
		<div class="editor-menu-scrollable">
			<div class="editor-menu-tools">
				<i class="fa-solid fa-arrow-pointer editor-menu-tools-each"></i>
				<i class="fa-solid fa-eraser editor-menu-tools-each"></i>
				<i class="fa-solid fa-pen editor-menu-tools-each"></i>
				<i class="fa-solid fa-text-height editor-menu-tools-each"></i>
				<i class="fa-solid fa-door-open editor-menu-tools-each"></i>
				<i class="fa-solid fa-window-maximize editor-menu-tools-each"></i>
			</div>
			<div class="editor-menu-section">
				<p key="editor-name">Name</p>
			</div>
			<form action="/createnew" method="POST">
				<div class="editor-menu-input">
					<input type="text" id="new_name" name="new_name" placeholder="Name" value="" required>
				</div>
				<div class="editor-menu-section">
					<p key="new-height">Flat Height</p>
				</div>
				<div class="editor-menu-input">
					<input type="number" id="new_name" name="new_name" placeholder="Height" value="" required>
				</div>
				<div class="editor-menu-button">
					<button key="new-save" type="submit" name="submit" for="submit">Save</button>
				</div>
			</form>
		</div>
	</div>
	<div class="new-canvas" id="new-canvas">
		<canvas id="canvas"></canvas>
	</div>
</div>

<script>

// Set Avatar
let id_users = <%= user_data[Object.keys(user_data)[0]] %>
document.getElementById("editor-profile-avatar").style.backgroundImage = "url('/user/" + id_users + ".jpg')";

</script>

</body>

</html>

<!--
TODO:

GET DATE FROM NOW ONCE CREATED

NAME <STRING>
HEIGHT <NUMBER>
-->